.chat-container {
  display: flex;
  flex-direction: column;
}

.chatbox-form {
  height: 5vh;
  position: fixed;
  bottom: 0;
  display: flex;
  font-size: 0.8rem;
}

.chatbox-input {
  font-size: 0.8rem;
  background: white;
}

.messages-scroll {
  margin: 4px, 4px;
  padding: 4px;
  /* width: 500px; */
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

