.main-container {
	display: flex;
	flex-direction: row;
}

.video-container {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-content: center;
	margin-top: 10rem;
}

.video{
	margin: auto;
}

.call {
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	padding: 2rem;
	justify-content: center;
	align-content: center;
}

.call-button {
	text-align: center;
}

.caller {
	text-align: center;
	color: #fff;
}

