.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #17a2b8;
  align-self: flex-end;
}
.received p {
  background: white;
  color: black;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 20px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}
