.App {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background-color: #F9F4E6;
  min-height: 100vh;
  margin: 0;
}

.Container{
  padding: 2em;
  margin: 0;
}

.navbar-inner {
  background:transparent;
}

.Navbar a{
  color: #365367;
}

.additionalSpace{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
  text-align: left;
}

.stickyFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  position: sticky;
  top: 100%;
  height: 75px;
  background-color: #365367;
  color: #FFBAA2;
}

.stickyFooter p{
  margin: 0;
}