*{
  padding: none;
  margin: none;
  list-style: none;
}

.App {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  background-color: #F9F4E6;
  margin: 0;  
}

/* .App p{
  color: black;
  text-align: left;
  font-weight: 500;
  font-size: 1em;
  padding: 10px 0px;
} */

.Container{
  padding: 2em;
  margin: 0;
}

.Center{
  display: flex;
  justify-content: center;
}



.navbar-inner {
  background:transparent;
}

.Navbar a{
  color: #365367;
}

.additionalSpace{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
  text-align: left;
}

.stickyFooter{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom:0;
  z-index: 5;
  align-items: center;
  font-weight: 800;
  height: 75px;
  width: 100%;
  background-color: #365367;
  color: #FFBAA2;
}

.stickyFooter p{
  margin: 0;
}

.faq{
  margin-top: 1em 0;
  width: 75vw;
  text-align: left;
}

.resources{
  margin: 1em 0; 
  width: 75vw;
  background-color: #f7f7f7;
  line-height: 2em;
  border-radius: 5px;
  border: solid 1px #dfdfdf;
  padding: .5em;
}

.dashboard{
  width: 75vw;
  height: 500px;
  background-color: lightblue;
  color: #365367;
  border-radius: 5px;
  padding: 1em;
  margin-top: 3em;
}

.dashboard h3,h4,h5,h6{
  font-weight: 600;
}

.dashboardBoxes{
  display: flex;
}

.dashboardBox{
  height: 350px;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  overflow: scroll;
}

.dashboardBox h3,h4,h5,h6{
  font-weight: 800;
}

.dashboardHeader{
margin-left: 1em;
}

.dashboardText{
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
}

.dailyCheck ul{
  padding: 0;
}

.greeting{
  text-align: left;
  margin-left: 16px;
}

.dailyCheck{
  width: 25vw;
}

.profile{
  width: 20vw;
}

.appts{
  width: 20vw;
}